name: Bucket Auto-Updater
on:
  schedule:
    # Run every 4 hours
    - cron: '0 */4 * * *'
  workflow_dispatch: # Allows you to run it manually from the Actions tab

jobs:
  excavate:
    name: Excavate
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Excavate
        uses: scoop-installer/scoop-action@v0.4.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}