name: Bucket Auto-Updater
on:
  schedule:
    # Run once daily at 06:00 UTC
    - cron: '0 6 * * *'
  workflow_dispatch: # Allows you to run it manually from the Actions tab

jobs:
  excavate:
    name: Excavate
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install hub
        run: choco install hub -y
        shell: powershell

      - name: Excavate
        uses: ScoopInstaller/GithubActions@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MANIFESTS_LOCATION: 'bucket'